@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Estonia&family=Faculty+Glyphic&family=Gothic+A1&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
   
}

.section1{
    min-height: 100vh;
    width: 100%;
    
    
}
.section1 header{
    min-height: 112px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.448);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    background-color: #fff;
  
}
.section1 header .login{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section1 header .login a{
    font-size: 15px;
    font-weight: 400;
}
.section1 header .login span{
    color: #5ECCB7;
}
.section1 .learn{
    margin-top: 132px;
    position: relative;
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-height: 69px;
    width: 100%;
    background-color: #5ECCB7;
}
.section1 .learn .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}
.section1 .learn p{
    font-size: 9px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 500px;
    letter-spacing: 1%;
    
}
.section1 .learn button{
    background-color: transparent;
    border: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1%;
}


























.section1 .accueil{
    min-height: 100vh;
    width: 100%;
     padding: 40px 10px 0px 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.section1 .accueil .content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section1 .accueil .content h1{
    font-size: 35px;
    font-weight: 700;
    color: #5ECCB7;
    line-height: 1.2;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.section1 .accueil .content p{
   font-size: 25px;
    font-weight: 400;
    color: #091133;
    letter-spacing: 1px;
}
.section1 .accueil .content button{
    width: 285px;
    height: 68px;
    background-color: #111B47;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
}

.section1 .accueil  img{
  max-width: 100%;
   width: 954px;
    min-height: 483px;
}
   
















.section2{
    width: 100%;
    padding: 40px 10px 10px 40px;
    margin-top: 100px; 
    position: relative;
    
}

.section2  .text h1{
    font-size: 25px;
    font-weight: 700;
    color:#DF493A ;
    letter-spacing: 1px;
}
.section2  .text p{
    font-size: 20px;
    font-weight: 400;
    color: #091133;
  line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 40px;
    
}


.section2  img{
    position: absolute;
    right: 275px;
    top: -30px;

   
    
}















.section3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    padding: 40px 40px;
}
.section3 .multi{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.section3 .multiples{
    display: flex;
    align-items: center;
    gap: 20px;
   
}
.section3 .multiples h1{
    font-size: 40px;
    color: #000000;
    font-weight:400 ;
    letter-spacing: 1px;
}
.section3 .multiple{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 30px;
    
} 
.section3 .multiple .text p{
    font-size: 18px;
    font-weight: 400;
    color: #091133;
    line-height: 1.8;
   
}
.section3 .multiple img{
    max-width: 100%;
    width: 545px;
    
}
.section3 .multiple .text .multipl{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.section3 .multiple .text .multipl img{
    height: 97px;
    width: 98px;
}
.section3 .multiple .text .multipl h1{
    font-size: 40px;
    color: #000000;
    font-weight:400 ;
    letter-spacing: 1px;
}
.section3 .multiple .text .multipl p{
    font-size: 18px;
    font-weight: 400;
    color: #091133;
    line-height: 1.8;
    text-transform: none;
}
.section3 .multi .deux{
    margin-top: 150px;
    padding: 0px 0px 0px 0px;
}
.section3 .multi .id{
    
   position: absolute;
  top: 480px;
  right: 100px;
  
   width: 500px;
}
















.section4{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 100px;
}
.section4 .groups{
    display: flex;
   gap: 45px;

}
.section4 .groups .group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section4 .groups .group .card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
    gap: 20px;
    height: 374px;
    width: 260px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.section4 .groups .group .card:hover{
 box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.25);
}

.section4 .groups .group .card .log{
    height: 74px;
    width: 74px;
    border-radius: 50%;
    background-color: #1F2367;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    left: 20px;
}

.section4 .groups .group .card .tete{
    padding: 30px 20px ;
    display: flex;
    
    align-items: center;
    
    
    height: 125px;
   
}

.section4 .groups .group .card .tete h1{
    font-size: 18px;
    color:#1F2367 ;
    
    font-weight: 600;
}
.section4 .groups .group .card  .text p{
    font-size: 12px;
    color:#1F2367 ;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 1px;
    
   

    
}
.section4 .groups .group .card  .text{
     background-color: #DF493A;
     border-radius: 0px 0px 10px 10px;
     padding: 50px 20px 20px 20px;
     position: relative;
     height: 249px;
     
     
}

.section4 button{
  width: 285px;
    height: 68px;
    background-color: #111B47;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
}

#jaune{
    background-color: #F4D147;
}
#orange{
    background-color: #ED9D5E;
}
#gris{
    background-color:#DCE9E9;
}
#vert{
    background-color: #6DA0A1;
}
#belge{
    background-color: #EDC7B8;
}
#violet{
    background-color: #D97AA3;
}
#grise{
    background-color: #9FB9C8;
}
#un,#deux{
    margin-top: 100px;
}
















.section5{
    padding: 40px 40px; 
}
.section5 .loves{
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.section5 .loves .love h3{
    font-size: 25px;
    color: #DF493A;
    font-weight:700 ;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.section5 .loves .love p{
    font-size: 20px;
    font-weight: 400;
     line-height: 1.8;
    letter-spacing: 1px;
    color: #505F98;
    max-width: 600px;
}
















.section6{
    padding: 150px 40px;
    min-width: 100vh;
    width: 100%;
    background-color: #1F2367;
    color: #ffffff;
}
.section6 .titr{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
   
}
.section6 .titr h1{
font-size: 40px;
font-weight: 400;
color: #FFFFFF;
}
.section6 .prics{
    display: flex;
    justify-content: space-around;
    
}
.section6 .prics .pric{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.section6 .prics .pric span{
    font-size: 15px;
    font-weight: 400;

}
.section6 .prics .pric .r{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section6 .prics .pric h3{
    font-size: 30px;
    font-weight: 700;
}
.section6 .prics .pric #span1{
    font-size: 14px;
    font-weight: 700;
}
.section6 .prics .pric nav li{
    font-size: 20px;
    font-weight: 400;
   
}
.section6 .prics .pric button{
    height:67px;
    width:221px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
#b1{
    margin-top: 65px;
}
#b2{
    margin-top: 50px;
}
#b3{
    margin-top: 122px;
}








.section7{
    width: 100%;
    padding: 50px 20px 100px 0px;
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: 100px;
    
}
.section7 .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section7 .entreprise .logo h1{
     font-size: 40px;
    color: #000000;
    font-weight:400 ;
    letter-spacing: 1px;
}
.section7 .entreprise p{
    font-size: 20px;
    font-size: 400;
    line-height: 1.8;
    letter-spacing: 1px;
    max-width: 700px;
    color: #000000;
    word-spacing: 2px;
    
}
.section7 .entreprise {
    display: flex;
   
    flex-direction: column;
    gap: 10px;
   
}
.section7 .entreprise .bouton button{
    height:54px ;
    width: 235px;
    font-size: 19px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #5ECCB7;
    color: #fff;
    border: none;
}
.section7 .entreprise .bouton p{
    font-size: 19px;
    color: #5ECCB7;
}
.section7 .entreprise .bouton .press{
    color:  #5ECCB7;
    background-color: transparent;
}
.section7 .entreprise .bouton{
    display: flex;
    gap: 15px;
     align-items: center;
}



.section8{
    min-height: 20vh;
    width: 100%;
    background-color: #1F2367;
    color: #ffffff;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}
.section8 .pieds{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section8 .pieds h3{
font-size: 20px;
font-weight: 600;
}
.section8 .pieds p{
    font-size: 12px;
    font-weight: 400;
}
































@media screen and (max-width: 768px) {
    .section1 .accueil{
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        padding: 50px 20px;
        min-height: 100vh;
    }
    .section1 .accueil .content{
        align-items: center;
        text-align: center;
    }
    .section1 .learn .close{
        top: 3px;
        right: 3px;
    }
   
    .section2  img{
        display: none;
    }
    
    .section3 .multiple{
        flex-direction: column;
        align-items: center;
       
        gap: 50px;
    }
    .section3  .text p{
    letter-spacing: none;
    line-height: none;
    text-align: center;
}

.section3 .multi .id  {
    display: none;
}
.section4 .groups{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.section4 .groups .group .card{
    width: 400px;
}




}